<?xml version="1.0"?>

<model>
    <name>Box_for_py_obstacle</name>
    <version>1.0</version>
    <sdf version="1.5">moving_cube.sdf</sdf>

    <author>
        <name>Jimin LEE</name>
        <email>wlalswwkd0@naver.com</email>
    </author>

    <description>
        A box model for obstacles
    </description>
</model>

